<section id="sobre" class="section">
    <div class="container">
        <div class="about-content">
            <div class="about-text"> 
                <h2>Sobre Mim</h2>
                <br>
                <p>Aos 12 anos, me aventurei no mundo da programação com o Scratch-MIT, abrindo as portas para um universo de possibilidades. Mergulhei no fascinante mundo do webdesign e da manutenção de computadores, ampliando meus conhecimentos e habilidades. A música também sempre me encantou, explorando diversos instrumentos e melodias.</p><br>
                <p>Habilidades que me definem: organização, liderança e comunicação.</p><br>
                <p>Contribuições para a comunidade: representante de turma, organizador de eventos e líder do grupo de ação estudantil.</p><br>
                <p>Projetos que me orgulham: visita técnica a empresas de tecnologia e criação do grupo de ação estudantil.</p><br>
                <p>Minha filosofia: Acredito que a tecnologia é uma ferramenta poderosa para transformar o mundo. Através da minha paixão pela área, busco contribuir para o desenvolvimento de soluções inovadoras e impactantes.</p><br>
                <p>Objetivos: aprimorar minhas habilidades, construir uma carreira de sucesso e inspirar outras pessoas.</p><br><br>
                <p>Pronto para os próximos desafios!</p><br><br>
            </div>
        </div>


<section id="contato" class="section">
    <div class="social-container">
      <div class="social-links">
        <h2>Conecte-se comigo</h2>
        <a href="https://github.com/Calebe-Dev" target="_blank" class="social-button github">
          GitHub
        </a>
        <a href="https://www.instagram.com/calebe_original/" target="_blank" class="social-button instagram">
          Instagram (Pessoal)
        </a>
        <a href="https://www.instagram.com/calebe.dev/" target="_blank" class="social-button instagram">
          Instagram (Profissional)
        </a>
        <a href="www.linkedin.com/in/calebe-dev" target="_blank" class="social-button linkedin">
          LinkedIn
        </a>
        <a href="https://open.spotify.com/user/22mqs5jgvsn76feymm45v7lpq?si=e2688ae4be574494" target="_blank" class="social-button spotify">
          Spotify
        </a>
        <a href="https://www.youtube.com/@calebe_original" target="_blank" class="social-button youtube">
          YouTube
        </a>
      </div>
   </div>
</section>

 </div>

    
</section>