.container {
    background-color: #000;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    min-height: 50rem;
    color: #fff;
    padding: 60px 0;
}
  
  
  .about-text {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    p{
      text-align: justify;
      width: 40%;
      margin: auto;
    }
  }