.container {
    background-color: #000;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    min-height: 20rem;
    color: #fff;
    padding: 60px 0;
}
