.container {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(30px);
  box-shadow: 0 4px 8px #0000004d;
  border-radius: 50px;
  color: #fff;
}

.options a {
  text-align: center;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .container {
    display: none; /* Esconde o componente em telas maiores que 767px */
  }
}

@media (max-width: 767px) {
  .container {
    display: flex; /* Mostra o componente em telas menores ou iguais a 767px */
    flex-direction: column;
    margin: auto;
    padding: 10px;
    max-width: 90%;
    min-height: 60vh;
    align-items: center;
  }

  .logo {
    display: flex;
    flex-direction: row;
  }

  .button-container {
    max-width: 10%;
    max-height: auto;
    margin: auto;
    padding: auto;
    margin-left: 10px;
    display: none;
  }

  .navigate {
    display: flex;
    flex-direction: column;
  }

  nav a {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }

  .options {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: bold;
    margin: auto;
  }
}

/* From Uiverse.io by rishichawda */ 
/* The switch - the box around the slider */
#theme-toggle-button {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 7em;
  cursor: pointer;
}

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}
