<header class="navbar" [class.menu-open]="mobileMenuOpen">
  <div class="navbar-container">
    <button aria-label="Menu" class="hamburger" (click)="toggleMenu()">
      <span [class.open]="mobileMenuOpen"></span>
      <span [class.open]="mobileMenuOpen"></span>
      <span [class.open]="mobileMenuOpen"></span>
    </button>
    <nav class="navbar-content" [class.open]="mobileMenuOpen">
      <div class="lens" [style.left.px]="lensPosition" [style.width.px]="lensWidth"></div>
      <a href="#about" (click)="closeMenu()">Sobre</a>
      <a href="#services" (click)="closeMenu()">Serviços</a>
      <a href="#projects" (click)="closeMenu()">Projetos</a>
      <a href="#experience" (click)="closeMenu()">Experiência</a>
      <a class="btnSolicitarProjeto" routerLink="/solicitar-projeto" (click)="closeMenu()">Solicitar Projeto</a>
      <a href="https://wa.me/5511988385247" target="_blank" rel="noopener" class="highlight" (click)="closeMenu()">Falar No Whatsapp</a>
    </nav>
  </div>
</header>