<section id="home" class="hero-section">
  <div class="hero">
      <div class="container">
          <div class="hero-text">
            <h1>Ola, Eu sou Calebe</h1>
            <p>  Sou desenvolvedor Full-Stack com experiência em criar soluções digitais personalizadas, de landing pages a sistemas web completos. Atualmente, estou cursando Análise e Desenvolvimento de Sistemas e busco oferecer projetos que unam design moderno e funcionalidade. Estou sempre disposto a aprender e colaborar em novas ideias para trazer valor aos seus projetos.</p>
          </div>
          <div class="foto">
            <img src="./IMG_2465.webp" alt="">
          </div>
      </div>
  </div>
</section>
