<section id="home" class="hero-section">
    <div class="hero">
        <div class="container-Global">
            <div class="hero-text">
                <div class="banner">
                    <h1 class="typing-animation"> Calebe Araujo</h1>
                    <h5 class="typing-animation">Web Designer & Desenvolvedor</h5>
                </div>
                <!---
                                <marquee behavior="" direction=""><p>Soluções inovadoras e impactantes para o seu negócio.</p></marquee>
               -->

                <button class="btn">Conheça meus projetos</button>
            </div>
        </div>
    </div>
</section>