.hero {
  background-color:rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(30px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  max-height: 43rem;
  max-width: 80rem;
  color: #fff;
  margin-top: 7%;
  justify-content: center;
  align-items: center;
}



.hero-text p {
  margin-bottom: 30px;
}

.hero-text {
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  p {
    text-align: justify;
    width: 40%;
    margin: auto;
  }
}

.foto img {
  max-width: 40%;
  border-radius: 50px;
  height: auto;
  margin-left: 60%;
}

@media (max-width: 768px) {
  .hero {
    min-height: auto;
    padding: 20px;
  }

  .hero-text {
    position: static;
    transform: none;
    text-align: center;
    padding: 20px;
  }

  .hero-text p {
    width: 100%;
  }

  .foto img {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 80%;
  }
}
