.logo {
  color: #fff;
  margin-left: 10px;
}

nav {
  background-color:rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: #111,  1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  border-radius: 30px;
  width: 100%;
  padding: 2px 0;
  position: fixed;
  top: 0;
  margin: auto;
  max-height: 10%;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.3s ease;
  font-weight: bold;
  margin: auto;
}

nav a:hover {
  color: #ff0000;
}

.theme-mode {
  background-color: #ff0000;
  color: #111;
  border-radius: 25px;
  border: none;
  padding: 15px;
}

.navigate {
  margin-left: 250px;
}

.menu-icon {
  display: none;
  color: #fff;
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
}

/* Responsivo */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    padding: 10px;
    position: fixed;
    max-width: 50%;
    min-height: 100vh;
    border-radius: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: none;
  }

  .menu-open nav {
    transform: translateX(0);
  }

  .menu-icon {
    display: block;
  }

  .logo {
    display: none;
  }

  nav a {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }

  .navigate {
    display: flex;
    margin-right: 0;
    margin-top: 10px;
    flex-direction: column;
  }

  .theme-mode {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
}

.button-container {
  margin: auto;
  margin-top: -20px;
  display: none;
}

/* From Uiverse.io by rishichawda */ 
/* The switch - the box around the slider */
#theme-toggle-button {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 7em;
  cursor: pointer;
}

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}
