<section id="projetos" class="section">
    <div class="container">
        <h2>Projetos</h2>
        <div class="projects-container">
            <div class="project">
                <h3>Lista de Músicas (Angular e jsonServer)</h3>
                <p> ADS 3º Semestre - Programação Web <br><br> O objetivo da aplicação é exibir uma lista de músicas com informações detalhadas, utilizando o Framework Angular com componentes do Bootstrap e consumindo dados de uma API externa (json server)</p>
                <p><strong>Data:</strong> 11/09/2023</p>
                <p><strong>Hora:</strong> 10:00 AM</p>
                <a href="https://github.com/Calebe-Dev/Projeto-Lista-De-Musicas---ADS-3-sem---prog...web.git" target="_blank">Ver no GitHub</a>
            </div>

            <div class="project">
                <h3>API Spring</h3>
                <p>Este projeto é a parte Back-End de uma Agenda de Compromissos, desenvolvido como projeto final para a disciplina de Programação Web.
                </p>
                <p><strong>Data:</strong> 12/11/2023</p>
                <p><strong>Hora:</strong> 02:00 PM</p>
                <a href="https://github.com/Calebe-Dev/-Passo-a-passo--Java-Spring-.git" target="_blank">Ver no GitHub</a>
            </div>

            <div class="project">
                <h3>Portfolho <br> (HTML,CSS,JS)</h3>
                <p> Projeto de demonstração Html, Css e JS, criando uma experiencia curiosa para o usuario</p>
                <p><strong>Data:</strong> 15/02/2023</p>
                <p><strong>Hora:</strong> 02:00 PM</p>
                <a href="https://github.com/Calebe-Dev/Portifolio.git" target="_blank">Ver no GitHub</a>
            </div>

            <div class="project">
                <h3>Leandingpage Douglas Castro</h3>
                <p>Exemplo de Pagina de vendas</p>
                <p><strong>Data:</strong> 15/02/2023</p>
                <p><strong>Hora:</strong> 02:00 PM</p>
                <a href="https://github.com/Calebe-Dev/Douglas_castro.git" target="_blank">Ver no GitHub</a>
            </div>
            <!-- Adicione mais projetos conforme necessário 
             
            <div class="project">
                <h3>Projeto 2</h3>
                <p>Descrição do Projeto 2. Este projeto envolve...</p>
                <p><strong>Data:</strong> 15/02/2023</p>
                <p><strong>Hora:</strong> 02:00 PM</p>
                <a href="https://github.com/SEUUSUARIO/PROJETO2" target="_blank">Ver no GitHub</a>
            </div>

            -->
        </div>
    </div>
</section>