<section id="projetos" class="section">
    <div class="container">
        <h2>Projetos</h2>
        <div class="projects-container">
            <div class="project">
                <h3>Projeto 1</h3>
                <p>Descrição do Projeto 1. Este projeto envolve...</p>
                <p><strong>Data:</strong> 01/01/2023</p>
                <p><strong>Hora:</strong> 10:00 AM</p>
                <a href="https://github.com/SEUUSUARIO/PROJETO1" target="_blank">Ver no GitHub</a>
            </div>
            <div class="project">
                <h3>Projeto 2</h3>
                <p>Descrição do Projeto 2. Este projeto envolve...</p>
                <p><strong>Data:</strong> 15/02/2023</p>
                <p><strong>Hora:</strong> 02:00 PM</p>
                <a href="https://github.com/SEUUSUARIO/PROJETO2" target="_blank">Ver no GitHub</a>
            </div>
            <!-- Adicione mais projetos conforme necessário -->
        </div>
    </div>
</section>