<section id="sobre" class="section">
    <div class="container">
        <div class="about-content">
            <div class="about-text"> 
                <div class="title">
                    <h2>
                        Sobre Mim
                    </h2>
                        <p>Aos 12 anos, me aventurei no mundo da programação com o Scratch-MIT, abrindo as portas para um universo de possibilidades.</p>
                        <p>Mergulhei no fascinante mundo do web design e da manutenção de computadores, ampliando meus conhecimentos e habilidades.</p>
                        <p>A música também sempre me encantou, e explorei diversos instrumentos e melodias.</p>

                        <p><strong>Habilidades que me definem:</strong></p>
                        <ul>
                            <li><strong>Organização:</strong> Minha paixão por organização me impulsiona a buscar otimização em tudo que faço.</li>
                            <li><strong>Liderança:</strong> Desde o ensino fundamental, ocupei cargos de representante, liderando projetos e promovendo a integração entre os alunos.</li>
                            <li><strong>Comunicação:</strong> Sou um comunicador eficaz, capaz de me conectar com diferentes públicos e construir pontes de colaboração.</li>
                        </ul>

                        <p><strong>Contribuições para a comunidade:</strong></p>
                        <ul>
                            <li><strong>Representante de turma:</strong> Atualmente, represento meus colegas de ADS, defendendo seus interesses e buscando melhorias para a turma.</li>
                            <li><strong>Confraternizações e eventos:</strong> Organizei diversas confraternizações e eventos de integração, promovendo a união e o networking entre os alunos.</li>
                        </ul>

                        <p><strong>Projetos que me orgulham:</strong></p>
                        <ul>
                            <li><strong>Visita técnica a empresas de tecnologia:</strong> Coordenei um projeto que proporcionou aos alunos a oportunidade de conhecer empresas renomadas e ampliar seus horizontes.</li>
                            <li><strong>Grupo de ação estudantil:</strong> Idealizei e lidero este grupo, que visa promover atividades sociais, educacionais e profissionais, complementando a formação dos alunos e enriquecendo a experiência na faculdade.</li>
                        </ul>

                        <p><strong>Minha filosofia:</strong><br>
                        Acredito que a tecnologia é uma ferramenta poderosa para transformar o mundo. Através da minha paixão pela área, busco contribuir para o desenvolvimento de soluções inovadoras e impactantes.</p>

                        <p><strong>Objetivos:</strong></p>
                        <ul>
                            <li>Aprimorar minhas habilidades e conhecimentos em tecnologia.</li>
                            <li>Construir uma carreira de sucesso na área, fazendo a diferença na vida das pessoas.</li>
                            <li>Inspirar outras pessoas a seguirem seus sonhos e explorarem o potencial da tecnologia.</li>
                        </ul>

                        <p>Pronto para os próximos desafios!</p>

                        <p>#tecnologia #programação #webdesign #liderança #organização #comunicação #representantedeturma #confraternização #eventos #projetos #inovação #inspiração #futuro</p>
            </div>
<!--
            <div class="about-image">
                <img src=".minhafoto.jpg" alt="Sua Foto">
            </div>
-->
        </div>
    </div>
