@import "tailwindcss";

:root {
  color-scheme: dark;
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-white antialiased;
  font-family: 'Inter', sans-serif;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}
