<main>

  <!-- Hero: Apresentação -->
  <section>
    <app-hero id="hero"></app-hero>
  </section>

  <!-- Sobre mim -->
  <section>
    <app-about id="about"></app-about>
  </section>

  <!-- Habilidades -->
  <section>
    <app-skills id="skills"></app-skills>
  </section>

  <!-- Serviços -->
  <section>
    <app-services id="services"></app-services>
  </section>

  <!-- Experiências -->
  <section>
    <app-experience id="experience"></app-experience>
  </section>

  <!-- Projetos -->
  <section>
    <app-projects id="projects"></app-projects>
  </section>

  <!-- Depoimentos -->
  <section>
    <app-testimonials id="testimonials"></app-testimonials>
  </section>

  <!-- Call to Action -->
  <section >
    <app-call-to-action id="cta"></app-call-to-action>
  </section>

  <!-- Contato -->
  <section >
    <app-contact id="contact"></app-contact>
  </section>

</main>